<div data-badges-target="badgeInfo" class="desc-card d-none d-flex" style="width: 18rem;">
  <%= image_tag badge.custom_fields, class: "badges", alt: "text" %>
  <div class="desc-card-body">
    <h3 class="desc-card-text"><%= badge.name %></h3>
    <p><%= badge.description %></p>
  </div>
</div>
