        <%= render 'filters', job: job %>
<div>
  <%= render 'jobs/filter_jobs', jobs: jobs %>
</div>
</div>
<div class='d-flex justify-content-center'>
  <% if Job.where(status: jobs.first.status).count > 4 %>
    <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: pagy} %>
  <% end %>
</div>
