<div class="row">
  <% job_suggestions.each do |job| %>
    <div class="col-md-3 my-2">
      <div class="card-suggested-job">
        <div class="card-suggested-job-infos">
          <div class="d-flex gap-2 justify-content-between align-items-start">
            <p class="m-0"><strong><%= job[:title].length > 30 ? "#{job[:title][0..30]...}" : job[:title] %></strong></p>
          </div>
          <p style="opacity: 0.6;"><%= job[:company] %></p>
        </div>
        <%= link_to jobs_path, class: 'add-job-btn' do %>
          <div class="d-flex gap-2 align-items-start">
            <p>Add to your jobs</p>
            <i class="fa-solid fa-plus"></i>
          </div>
        <% end %>
        <%= link_to job[:url], class: 'url-link suggestion-link', target: :_blank do %>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>