<div class="row">
  <% job_suggestions.each do |job| %>
    <% unless jobs.where(company: job[:company]).any? && jobs.where(title: job[:title]).any? %>
      <div class="col-md-3 my-2">
        <div class="card-suggested-job">
          <div class="card-suggested-job-infos">
            <p class="m-0"><strong><%= job[:title].length > 30 ? "#{job[:title][0..30]...}" : job[:title] %></strong></p>
            <p style="opacity: 0.6;"><%= job[:company] %></p>
          </div>
          <%= render 'add_suggestion_form', new_job: @new_job, job: job %>
          <%= link_to job[:url], class: 'url-link suggestion-link', target: :_blank do %>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>