<h3>Your job stats</h3>
<div class="stats stats-pending my-2">
  <div class="d-flex gap-2 justify-content-between align-items-center stats-body">
    <i class="fa-solid fa-hourglass-start"></i>
    <h5 class="flex-grow-1"><strong>Pending</strong></h5>
    <h5><strong><%= @pending %></strong></h5>
  </div>
</div>
<div class="stats stats-applied my-2">
  <div class="d-flex gap-2 justify-content-between align-items-center stats-body">
    <i class="fa-solid fa-paper-plane"></i>
    <h5 class="flex-grow-1"><strong>Applied</strong></h5>
    <h5><strong><%= @applied %></strong></h5>
  </div>
</div>
<div class="stats stats-interviews my-2">
  <div class="d-flex gap-2 justify-content-between align-items-center stats-body">
    <i class="fa-solid fa-people-arrows"></i>
    <h5 class="flex-grow-1"><strong>Interviews</strong></h5>
    <h5><strong><%= @interviews %></strong></h5>
  </div>
</div>
<div class="stats stats-offers my-2">
  <div class="d-flex gap-2 justify-content-between align-items-center stats-body">
    <i class="fa-solid fa-trophy"></i>
    <h5 class="flex-grow-1"><strong>Offers</strong></h5>
    <h5><strong><%= @offers %></strong></h5>
  </div>
</div>