<div class="to-do" data-controller="add-task" ><strong>Tasks</strong>
  <div data-add-task-target="tasks">
    <% job.tasks.each do |task| %>
      <div class="d-flex">
        <%= render 'task_done', task: task %>
        <%= task.title %>
      </div>
    <% end %>
    <%= render 'task_form', job: job, task: @new_task %>
  </div>
</div>