<div data-add-task-target="tasks">
  <p><strong>Tasks</strong></p>
  <% tasks.each do |task| %>
    <div data-controller="done-task">
      <div class="task-div" data-done-task-target="task">
        <%= render 'jobs/task_done', task: task %>
        <p class="flex-grow-1 m-0"><%= task.title %></p>
        <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this task?", action: "turbo:click->done-task#remove" }, class: "delete-link" do %>
          <i class="fa-solid fa-x"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
