<div data-add-task-target="tasks">
  <p><strong>Tasks</strong></p>
  <% tasks.each do |task| %>
    <div class="d-flex">
      <%= render 'jobs/task_done', task: task %>
      <%= task.title %>
    </div>
  <% end %>
</div>
