<div data-add-task-target="tasks"><strong>Tasks</strong>
  <% tasks.each do |task| %>
    <div class="d-flex">
      <%= render 'jobs/task_done', task: task %>
      <%= task.title %>
    </div>
  <% end %>
</div>
