<<<<<<< HEAD
<div data-add-task-target="tasks"><strong>Tasks</strong>  <% tasks.each do |task| %>
    <div class="d-flex">
      <div data-controller="done-task">
        <%= render 'jobs/task_done', task: task %>
      </div>
      <%= task.title %>
    </div>
  <% end %>
</div>
