<div class="container my-5">
  <h2>Welcome back, <%= current_user.first_name.capitalize %>!</h2>
  <div id="job-stats" class="my-3">
    <h3>Your job stats</h3>
  </div>
    <div id="jobs" class="my-3">
    <h3>Your jobs</h3>
  </div>
</div>