<div class="footer">
  <div class="container mt-5 d-flex gap-3">
    <%= link_to 'https://github.com/lw-a/job-tracking-app', target: :_blank, class: 'github-link' do %>
      <i class="fa-brands fa-github"></i>
    <% end %>
    <p>2022 JobJob - Le Wagon Tokyo, Batch 928</p>
  </div>
</div>
