<div class="banner">
  <div class="d-flex">
    <div class="text">
      <h1><strong>JobJob</strong></h1>
      <p>Say goodbye to spreadsheets.</p>
      <a class="btn btn-light" href="/outfits">Sign up</a>
    </div>
    <div class="ml-2 p-5">
      <%= image_tag "hero.png", alt: "to-do", class: "img-fluid rounded-start" %>
    </div>
  </div>
</div>
