<div class="banner">
  <div class="container">
    <h1><strong>JOBJOB</strong></h1>
    <p>Keep track of all your job applications in one place.</p>
    <%= link_to 'Try it out!', "/users/sign_up", class: 'btn btn-primary' %>
  </div>
</div>
