<%= render "banner" %>
<div class="card" style="max-width: 100%;">
  <div class="row justify-content-center g-0">
    <div class="col-md-3">
      <%= image_tag "todo.png", alt: "to-do", class: "img-fluid rounded-start" %>
    </div>
    <div class="col-md-6">
      <div class="card-body pt-5">
        <h1 class="card-title mt-5 pt-5">Better than a spreadsheet.</h1>
        <p class="card-text">Track all your job applications in one place.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center g-0">
    <div class="col-md-3">
      <%= image_tag "interview.png", alt: "interview", class: "img-fluid rounded-start" %>
    </div>
    <div class="col-md-6">
      <div class="card-body pt-5">
        <h1 class="card-title mt-5 pt-5">Set your goals and stay motivated.</h1>
        <p class="card-text">Create notes and tasks for each application.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center g-0">
    <div class="col-md-3">
      <%= image_tag "stats.png", alt: "stats", class: "img-fluid rounded-start" %>
    </div>
    <div class="col-md-6">
      <div class="card-body pt-5">
        <h1 class="card-title mt-5 pt-5">Set your goals and stay motivated.</h1>
        <p class="card-text">Create notes and tasks for each application.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-call-to-action">
    <h1><strong>Try JobJob today</strong></h1>
    <a class="btn btn-light sign-up" href="/dashboard">Sign up</a>
</div>
