<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="jobs container">
  <div class="job">
    <div class="accordion-item whole-job">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <p class=""><strong>Google</strong> | Full Stack Web Developer
            <span class="position-absolute end-0">applied</span> </p>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse job-card-content" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="d-flex job-body justify-content-between">
          <div class="to-do">To Do:</div>
          <div class="center-border"></div>
          <div class="notes">Notes:</div>
        </div>
        <div class="appointments">
          <strong>Appointments:</strong>
          <p class="appointment">no appointments</p>
        </div>
      </div>
    </div>
  </div>
  <div class="job">
    <div class="accordion-item whole-job">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <p class=""><strong>Job</strong> | Full Stack Web Developer
            <span class="position-absolute end-0">applied</span> </p>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse job-card-content" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="d-flex job-body justify-content-between">
          <div class="to-do">To Do:</div>
          <div class="notes ">Notes:</div>
        </div>
        <div class="appointments">
          <strong>Appointments:</strong>
          <p class="appointment">no appointments</p>
        </div>
      </div>
    </div>
  </div>
</div>
