.banner {
  background-color: #D3F3EE;
  background-size: cover;
  background-position: center;
  padding: 90px 0;
}

.banner h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  font-size: 70px;
}

.banner p {
  font-size: 20px;
  color: black;
  opacity: .7;
}
