.card-suggested-job {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  border-radius: 4px;

  .suggestion-link {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.company-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
}

.add-job-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.card-suggested-job .card-suggested-job-infos {
  padding: 16px;
  margin-right: 32px;
  display: flex;
  align-items: start;
}
