.job {
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  padding: 16px;
  padding-bottom: 0px;
  border-radius: 3px;
  margin-bottom: 16px;
  background-color: white;
}

.center-border {
  width: 1px;
  border-left: 1px solid lightgray;

}

.url-link {
  color: black;
  text-decoration: none;
  opacity: 0.7;
  margin: 0;
  font-size: 12px;

  &:hover {
    color: black;
    opacity: 1;
  }

}

.job-card-task-count {
  font-size: 14px;
  margin-bottom: 16px;
  opacity: 0.7;
}

.job-deadline {
  font-size: 14px;
  text-align: right;
  opacity: 0.7;
  margin: 16px 0px 0px 0px;
}

#job-deadline-passed {
  color: #FA8072;
  opacity: 1;
}

.job-body {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 8px;
  padding-bottom: 8px;
}

.notes {
  text-align: start;
  width: 50%;
  padding-left: 8px;
}

.notes p {
  padding-left: 16px;
}

.whole-job {
  // padding-bottom: 8px;
  padding-bottom: 0px;

}

.to-do {
  // border-right: 1px solid lightgray;
  width: 50%;
}

.appointments {
  margin: 0;
  padding-top: 8px;

  padding-bottom: 8px;
}

.appointment {
  padding-left: 8px;
  margin: 0;
}

.job-task {
  padding-left: 8px;
}

.job-status {
  padding: 4px 8px;
  border-radius: 6px;
  width: 88px;
  text-align: center;
  border: none;
  font-size: 16px;
  margin: 0;
}

.pending {
  background-color: #D3F3EE;
}

.applied {
  background-color: #68E1FD;
}

.interview {
  background-color: #fafa37;
}

.rejected {
  background-color: #ef959c;
}

.offer {
  background: rgb(172, 255, 89);
}

.form-input {
  width: 95%;
}

.note-text {
border: none;
background-color: transparent;
background-image: none !important;
}

.note-text:focus {
  border: none;
background-color: transparent;
background-image: none;
}

.hide {
  display: none;
}

.no-tick {
  background-image: none !important;
}

.job-doc-btn {
  background-color: $light-gray;
  padding: 8px 16px;
  margin-bottom: 8px;
  text-decoration: none;
  color: black;
  border-radius: 2px;

  &:hover {
    text-decoration: none;
    color: black;
    background-color: #e1e1e1;
  }
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  transition-duration: 1s;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.tab-underlined:hover {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.tab-underlined:focus {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
