.job {
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  padding: 16px;
  padding-bottom: 0px;
  border-radius: 3px;
  margin-bottom: 16px;
  background-color: white;
}

.job .delete-link {
  color: black;
  font-size: 14px;
  margin-right: 16px;
  opacity: 0.7;
  visibility: visible;

  &:hover {
    opacity: 1;
  }
}

.task-title:hover {
  .delete-link {
    visibility: visible;
  }
}

.center-border {
  width: 1px;
  border-left: 1px solid lightgray;

}

.job-body {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  padding-top: 8px;
  padding-bottom: 8px;

}

.notes {
  text-align: start;
  width: 50%;
  padding-left: 8px;
}

.notes p {
  padding-left: 16px;
}

.whole-job {
  // padding-bottom: 8px;
  padding-bottom: 0px;

}

.to-do {
  // border-right: 1px solid lightgray;
  width: 50%;
}

.appointments {
  margin: 0;
  padding-top: 8px;

  padding-bottom: 8px;
}

.appointment {
  padding-left: 8px;
  margin: 0;
}

.job-task {
  padding-left: 8px;
}

.job-status {
  padding: 3px 6px;
  border-radius: 6px;
  width: 88px;
  text-align: center;
}
.pending {
  background-color: #D3F3EE;
}

.applied {
  background-color: #68E1FD;
}

.interview {
  background-color: #fafa37;
}

.rejected {
  background-color: #ef959c;
}

.offer {
  background: lawngreen;
}

.form-input {
  width: 95%;
}

.note-text {
border: none;
background-color: transparent;
background-image: none !important;
}

.note-text:focus {
  border: none;
background-color: transparent;
background-image: none;
}

.hide {
  display: none;
}
