.stats-pending {
  background-color: #D3F3EE;
  border-radius: 4px;
}

.stats-applied {
  background-color: #68E1FD;
  border-radius: 4px;
}

.stats-interviews {
  background-color: #fafa37;
  border-radius: 4px;
}

.stats-rejected {
  background-color: #FA8072;
  border-radius: 4px;
}

.stats-offers {
  background-color: rgb(172, 255, 89) ;
  border-radius: 4px;
}

.jobs-stats {
  background-color: aliceblue;
}

.stats {
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.stats-body {
  padding: 16px;

  h5 {
    margin: 0px;
  }
}
